################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GherkinWebAPI
/GherkinWebAPI/bin
/ESSWebAPI/.vs/ESSWebAPI
/ESSWebAPI/ESSWebAPI/bin/Debug/netcoreapp3.0
/ESSWebAPI/ESSWebAPI/obj/Debug/netcoreapp3.0
/ESSWebAPI/ESSWebAPI/obj
/GherkinWebAPI/obj/Debug
/GherkinWebAPI/Properties/PublishProfiles
package-lock.json
.vscode/launch.json
packages/log4net.2.0.11/.signature.p7s
packages/log4net.2.0.11/log4net.2.0.11.nupkg
packages/log4net.2.0.11/package-icon.png
packages/log4net.2.0.11/lib/net20/log4net.dll
packages/log4net.2.0.11/lib/net20/log4net.xml
packages/log4net.2.0.11/lib/net35/log4net.dll
packages/log4net.2.0.11/lib/net35/log4net.xml
packages/log4net.2.0.11/lib/net35-client/log4net.dll
packages/log4net.2.0.11/lib/net35-client/log4net.xml
packages/log4net.2.0.11/lib/net40/log4net.dll
packages/log4net.2.0.11/lib/net40/log4net.xml
packages/log4net.2.0.11/lib/net40-client/log4net.dll
packages/log4net.2.0.11/lib/net40-client/log4net.xml
packages/log4net.2.0.11/lib/net45/log4net.dll
packages/log4net.2.0.11/lib/net45/log4net.xml
packages/log4net.2.0.11/lib/netstandard1.3/log4net.dll
packages/log4net.2.0.11/lib/netstandard1.3/log4net.xml
packages/log4net.2.0.11/lib/netstandard2.0/log4net.dll
packages/log4net.2.0.11/lib/netstandard2.0/log4net.xml
